@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: black;
	font-family: 'Roboto', sans-serif;
	color: white;
}

/*header {
	width: 100%;
	height: 250px;
	color: white;
}*/

.content {
	display: grid;
	grid-template-columns: auto auto;
	color: white;
}



.art-block {
	font-family: 'Kaushan Script', cursive;
	text-align: right;
	padding-right: 5%;
}

.art-block h2 {
	margin-top: 27%;
	font-size: 50px;
}

a {
	text-decoration: none;
	color: white;
	font-size: 30px;
}

.nav ul {
	margin-top: 27%;
	list-style-type: none;
	padding-left: 5%;
}

.nav ul li a:hover {
	background-color: white;
	color: black;
	transition: 0.3s;
}


.logo {
	width: 100%;
	text-align: center;
}

img {
	display: block;
	width: 200px;
	margin: 0 auto;
	padding-top: 5%;
}

@media screen and (max-width: 600px) {
	.content {
		grid-template-columns: auto;
	}
	.art-block h2 {
		text-align: center;
		margin-top: 10%;
	}
	.nav ul {
		padding-left: 0;
		margin-top: 20%;
	}
	.nav ul li {
		text-align: center;
	}
	
	img {
		margin-top: 20%;
	}
}


